<!--mid8开始-->
<div class="mid8">
    <div class="mid8Tit"><span>END</span></div>
    <div class="mid8Area clearfix">
        <div class="mid8Left fl">
            <dl>
                <dt>新手指南</dt>
                <dd><a href="#">免费注册</a> </dd>
                <dd><a href="#">购物流程</a> </dd>
                <dd><a href="#">支付流程</a> </dd>
            </dl>
            <dl>
                <dt>关于我们</dt>
                <dd><a href="#">公司简介</a> </dd>
                <dd><a href="#">联系我们</a> </dd>
                <dd><a href="#">在线咨询</a> </dd>
            </dl>
            <dl>
                <dt>服务指南</dt>
                <dd><a href="#">交易条款</a> </dd>
                <dd><a href="#">购物流程</a> </dd>
                <dd><a href="#">促销咨询</a> </dd>
            </dl>
            <dl>
                <dt>咨询工作</dt>
                <dd><a href="#">政务工作</a> </dd>
                <dd><a href="#">平台资讯</a> </dd>
                <dd><a href="#">政策导读</a> </dd>
            </dl>
        </div>
        <div class="mid8Right fr">
            <img src="images/ecode.jpg"/>
            <p>扫码关注微信公众号</p>
        </div>
    </div>
</div>
<!--mid8结束-->

<!--footer开始-->
<div class="footer">
    <div class="footerMenu"><a href="#">关于我们</a><a href="#">帮助中心</a><a href="#">诚聘英才</a><a href="#">联系我们</a><a href="#">合作伙伴</a><a href="#">法律声明</a> </div>
    <div class="aandc">地址：湖北省武汉市武昌区广八路8号 版权所有 湖北省知识产权局所有 武汉万类软件技术有限公司技术支持<br/>&copy; 2003-2016 TMALL.COM 版权所有</div>
</div>
<!--footer结束-->