<!-- 底部区域 -->
	<div class="container foot_area">
		<fieldset>
			<legend>END</legend>
		</fieldset>
		<div class="container footer clearfix">
			<div class="item">
				<div class="item_con">
					<h4>新手指南</h4>
					<p><a href="javascript:;">免费注册</a></p>
					<p><a href="javascript:;">购物流程</a></p>
					<p><a href="javascript:;">会员介绍</a></p>					
				</div>
			</div>
			<div class="item">
				<div class="item_con">
					<h4>关于我们</h4>
					<p><a href="javascript:;">联系我们</a></p>
					<p><a href="javascript:;">加入我们</a></p>
					<p><a href="javascript:;">安全中心</a></p>
				</div>
			</div>
			<div class="item">
				<div class="item_con">
					<h4>售后服务</h4>
					<p><a href="javascript:;">售后政策</a></p>
					<p><a href="javascript:;">退款说明</a></p>
					<p><a href="javascript:;">取消订单</a></p>
				</div>
			</div>
			<div class="item">
				<div class="item_con">
					<h4>人才培训</h4>
					<p><a href="javascript:;">专利评议</a></p>
					<p><a href="javascript:;">专利维权</a></p>
					<p><a href="javascript:;">专利托管</a></p>
				</div>
			</div>
			<div class="item qr_code">
				<s class="icons qr-icon"></s>
				<p>扫码关注微信公众号</p>
			</div>
		</div>
		<div class="container copyright">
			<div class="list clearfix">
				<ul class="clearfix">
					<li>
						<a href="javascript:;">关于我们</a>
					</li>
					<li>
						<a href="javascript:;">帮助中心</a>
					</li>
					<li>
						<a href="javascript:;">诚聘英才</a>
					</li>
					<li>
						<a href="javascript:;">联系我们</a>
					</li>
					<li>
						<a href="javascript:;">合作伙伴</a>
					</li>
					<li>
						<a href="javascript:;">法律声明</a>
					</li>
					<li>
						<a href="javascript:;">意见征集</a>
					</li>
				</ul>
				<p class="address">地址: 湖北省武汉市武昌区广八路8号 版权所有 湖北省知识产权局所有 武汉万类软件技术有限公司技术支持</p>
				<p><span style="font-family:arial;">&copy;&nbsp;</span>2003-2016 ZHIGUOHUI.COM 版权所有</p>
			</div>
		</div>
	</div>