
	<!-- 顶部蓝色导航区域 -->
	<div class="container top_navbar">
		<div class="top_con clearfix">
			<a href="person.html">
				<div class="logo">
					<s class="icons logo-icon"></s>
				</div>
			</a>
			<a href="person.html">
				<div class="title">
					<h3>我的知果汇</h3>
				</div>
			</a>
			<div class="navbar">
				<ul class="clearfix">
					<li><a href="index.html">首页</a></li>
					<li class="account_dropdown">
						<a href="javascript:;">账户管理
						<img src="/static/images/down.png"></a>
						<div class="hide_list clearfix" style="background:#3a75c5;margin-top:-15px;">
							<a href="account.html">个人资料 </a>
							<a href="account_safe.html">账户安全</a>
							<a href="my_level.html">我的级别</a>
							<a href="trade_info.html">交易信息</a>
						</div>
					</li>
					<li class="store_dropdown">
						<a class="" href="javascript:;">店铺管理
						<img src="/static/images/down.png"></a>
						<div class="hide_list clearfix" style="background:#3a75c5;margin-top:-15px;">
							<a href="store_data.html">店铺资料 </a>
							<a href="rel_goods.html">发布宝贝</a>
							<a href="on_offer_goods.html">出售中的宝贝</a>
							<a href="noup_goods.html">未上架的宝贝</a>
							<a href="offered_goods.html">已交易的宝贝</a>
							<a href="drawback.html">退款处理</a>
						</div>
					</li>
					<li><a href="person_news.html">消息</a></li>
				</ul>
			</div>
			<div class="search_con clearfix">
				<input class="search_btn" type="text" placeholder="搜索">
				<div class="join_cart">
					<a href="cart.html">
						<s class="icons shoppingcart-icon"></s>加入购物车
						<s class="icons more-icon"></s>
					</a>
					<div class="num">0</div>
				</div>
			</div>
		</div>
	</div>
