
<!-- 顶部区域 -->
<div class="container top_area">
	<!-- 顶部状态栏 -->
	<div class="container topbar clearfix">
		<div class="l_area clearfix">
			{% if userinfo %}
			<p>{{ userinfo.name }}，欢迎！</p>
			<p><span><a href="/login/logout">退出</a></span></p>
			{% else %}
			<p>你好，欢迎！</p>
			<p>请<span><a href="/login">登录</a></span></p>
			<p>免费注册</p>
			{% endif %}
		</div>
		<div class="r_area clearfix">
			<ul>
				<li>
					<a href="javascript:;">个人中心</a>
				</li>
				<li>
					<a href="javascript:;">我的订单</a>
				</li>
				<li>
					<s class="icons cart-icon"></s>
					<a href="javascript:;">购物车</a>
				</li>
				<li>
					<a href="javascript:;">收藏夹</a>
					<s class="icons down-icon"></s>
				</li>
				<li style="border-right:0;">
					<a href="javascript:;">网站导航</a>
					<s class="icons down-icon"></s>
				</li>
			</ul>
		</div>
	</div>
	<!-- 顶部导航 -->
	<div class="top_navbar"></div>
</div>