.on a{color:#5e84be !important;}
/*基本信息*/
.basic_info{padding: 50px;height: auto;}
.info_title{font-size: 16px;border-bottom: 2px solid #3377c2;color:#3377c2;width: 64px;}
.figure_img{width: 100%;height: 150px;padding: 20px;margin-top: 10px;}
.figure{float: left;width: 130px;height:130px;background: #d2d2d2;}
.upload_img{float: left;}
.upload_tips{display: block;margin-left: 20px;font-size: 12px;color:#888;}
.red{color:red;}
/*a  upload */
.a-upload {
    padding: 4px 10px;
    margin-left: 20px;
    height: 20px;
    font-size: 12px;
    line-height: 20px;
    position: relative;
    cursor: pointer;
    color: #888;
    background: #fafafa;
    border: 1px dashed #b2b2b2;
    overflow: hidden;
    display: inline-block;
    *display: inline;
    *zoom: 1
}

.a-upload  input {
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer
}
/*表单区域*/
.form_div{line-height: 40px;font-size: 14px;color:#808080;margin:5px 0;}
.form_div label{width: 100px;display: inline-block;text-align: right;}
/*登录名*/
.login_name a{color:#3377c2;width: 50px;margin: 0 10px 0 60px;}
/*用户名*/
.username{line-height: 20px;}
.username::-ms-input-placeholder{color: #333;padding-left: 10px;}
.username::-webkit-input-placeholder{color: #333;padding-left: 10px;}
/*生日*/
.form_select{padding: 5px;width: 80px;}
.birth span{padding: 0 5px;}
/*月收入*/
.income select{width: 90px;}
/*教育*/
.education select{width: 100px;}
/*行业*/
.profession select{width: 100px;}
/*邮箱*/
.email a{color:#3377c2;width: 50px;margin: 0 10px 0 60px;}
/*身份证和真实姓名*/
.IDcard{width: 200px;line-height: 20px;}
.real{width: 200px;line-height: 20px;}
.IDcard::-ms-input-placeholder{color: #333;padding-left: 10px;}
.IDcard::-webkit-input-placeholder{color: #333;padding-left: 10px;}
.real::-ms-input-placeholder{color: #333;padding-left: 10px;}
.real::-webkit-input-placeholder{color: #333;padding-left: 10px;}
/*提交按钮*/
.submit_btn{width: 90px;background: #3377c2;color:#fff;border:0;border-radius: 4px;font-size: 12px;padding:5px 10px;margin-left: 100px;margin-top: 20px; }