/*购物车*/
.gwc_tb{width:100%; margin-top:10px;text-align: center;border-collapse: collapse;}
.tb_tr{background:#eee;font-size: 14px;color: #6f6f6f; height:40px;}
.tb_th1{width:150px;padding-left: 15px;}
.tb_th2{width:230px;text-align: center;}
.tb_th3{width:440px;}
.tb_th4{width:180px;text-align: center;}
.tb_th5{text-align: center;}
.tb_title{color: #333;font-size: 14px;line-height: 30px;}
.tr_border{border:1px solid #e5e5e5;border-bottom:0;background: #fff;}
.tb_td1{width:120px;padding-left: 15px;border-bottom:1px solid #e5e5e5;}
.tb_td1 input{float: left;margin-top: 8px;}	
.padding30{padding-left: 30px !important;}
.product_img{width: 90px;float: left;}
.product_img img{width: 80px;padding: 10px 5px;}
.tb_td2{width:230px;border-bottom:1px solid #e5e5e5;}
.product_tips{font-size: 14px;width: 200px;height: 100px;}
.product_tips h4{width: inherit;color:#4f4f4f;}
.services h4{padding-left:10px;padding-top: 10px;}
.services p{margin-top: 42px;padding-left:10px;font-size: 12px;color:#929292;}
.margin25{margin-top: 25px !important;}
.type{margin-top: 10px;}
.type h4{line-height: 22px; color: #929292;}
.price{margin-top: 10px;}
.price h4{text-align: center;padding-left: 15px;color: #ff4900;line-height: 22px;}
.price p{color:#929292;text-align: center;padding-left: 30px;}
.operation{margin-top: 10px;}
.operation p{text-align: center;line-height: 22px;}
.operation p a{color:#333;}
.tb_td3{width:410px;border-bottom:1px solid #e5e5e5;padding-left: 50px;}
.tb_td4{width:180px;text-align: center;border-bottom:1px solid #e5e5e5;}
.tb_td5{text-align: center;border-bottom:1px solid #e5e5e5;}
/*结算*/
.gwc_tb2{ width:100%; background:#eee; height:46px; margin-top:20px; }
.gwc_tb2 tr td{font-size:14px;color:#535353;}
.tb2_td1 span{padding-left: 10px;}
.tb2_td2{ width:200px;text-align:center;}
.tb2_td2 span{ color:#ff5500;font-size:14px; font-weight:bold; padding-left:5px; padding-right:5px; }
.tb2_td3{ width:220px;}
.tb2_td3{ color:#ff5500;}
.tb2_td3 span{ font-size:18px; font-weight:bold;line-height: 0px;}
.tb2_td4{ width:110px;text-align:center;font-size: 20px;font-weight: bold;}
#shuliang{color:#ff5500;font-size:14px; font-weight:bold;}
#zong1{ color:#ff5500;font-size:24px; font-weight:bold;}
.calculate{ width:100px; height:46px; line-height:46px; text-align:center; font-size:18px; color:#fff !important; background:#ff4900;display:block; float:right;}