.gradient{background: url("../images/ie9bg.jpg") repeat-x left top;}
.menu ul li{margin: 0 2px;}
.mid5 .mid5right ul li{width: 210px; height: 52px; margin: 1px 0; overflow: hidden;}

.peixmid1 .pxLeft ul li{width: 193px; height: 45px; line-height: 45px; font-size: 14px; color: #959595; padding: 0 10px; border-top: 1px solid #dddddd;}

