/*================首页样式及公共部分样式================*/
.dtop{width: 100%; height: 38px; background-color: #f0f0f0; border-bottom: 1px solid #b5b5b5;}
.dtopArea{width: 1210px; height: 38px; line-height: 38px; margin: 0 auto;}
.dtopArea .dleft{width: 300px; height: 38px; line-height: 38px; font-size: 12px; color: #626262;}
.dtopArea .dleft span{margin-right: 15px;}
.dtopArea .dleft .login{color: #366bb3; margin-right: 15px;}
.dtopArea .dleft .register{color: #626262;}
.dtopArea .dleft .register:hover{color: #366bb3;}
.dright{width: 700px; height: 38px; text-align: right;}
.dright ul{display: inline-block; *display:inline; *zoom:1;}
.dright ul li{ position:relative; float: left; font-size: 12px; color: #366bb3; padding: 0 12px; background: url("../images/fgx.jpg") no-repeat right center; }
.dright ul li a{color: #626262;}
.dright .cart em{display: inline-block; *display:inline; *zoom:1; width: 19px; height: 17px; background: url("../images/icon.png") no-repeat 0 -78px; margin-right:4px; position: relative; top: 3px;}
.dright .arr em{display: inline-block; *display:inline; *zoom:1; width: 10px; height: 10px; background: url("../images/xljtarr.png") no-repeat center center; margin-left: 5px;}
.dright .hideNav{position: absolute; top: 38px; z-index: 999; padding: 5px 10px; background-color: #f0f0f0; text-align: left; border-bottom: 1px solid #dadada; border-right: 1px solid #dadada; border-left: 1px solid #dadada;}
.dright .hw1{width:90px;left: 0; }
.dright .hw2{width:200px; height: auto; left: -50px;}

.dright .hideNav a{display: block; font-size: 12px; line-height: 28px;}
.dright .hideNav a:hover{color: #0066cf;}
.hideNav .weixin,.hideNav .weibo{width: 90px; height: auto; text-align: center; margin-top: 10px;}
.hideNav .weixin img,.hideNav .weibo img{width: 65px; height: 65px;}
.hideNav .weixin span,.hideNav .weibo span{display: block; line-height:21px; font-size: 12px; color: #666;}
.dright .hw3{right: 0; padding: 10px 10px; width:810px;}
.dright .hw3 dl{float: left; width: 180px; height: 130px; padding:0 10px; border-right: 1px solid #dadada;}
.dright .hw3 dl dt{font-size: 14px; color: #666; padding-left: 5px;}
.dright .hw3 dl dt a{font-size: 14px; color: #666;}
.dright .hw3 dl dd a{float: left; margin: 0 5px;}

/*top*/
.top{width: 1210px; height: 85px; margin: 0 auto; padding: 12px 0; }
.top .logo{display: block; width: 420px; height: 85px;}
.top .logo img{height: 85px;}
.search{width: 576px; height: 77px; padding-top: 18px;}
.search .searchArea{width: 570px; height: 38px; border: 3px solid #366bb3;}
.search .searchArea input[type="button"]{width: 76px; height: 38px; line-height: 38px; font-size: 13px; color: #fff; text-align: center; background-color: #366bb3; font-family: "微软雅黑";}
.search .searchArea input[type="text"]{width: 400px; height: 38px; line-height: 38px; padding-left: 10px; font-family: "微软雅黑";}
.search .hotword{font-size: 12px; color: #7d7d7d; height: 30px; line-height: 30px; }
.search .hotword a{color: #7d7d7d; margin-right: 10px;}
.search .hotword a:hover{color: #366bb3;}
.selectd{position: relative; width: 68px; height: 38px; line-height: 38px; text-align: center; font-size: 14px; color: #a0a0a0; cursor: pointer;}
.selectd em{position: relative; left: 12px; top: -2px; display: inline-block; *display:inline; *zoom:1; width: 8px; height: 8px; background: url("../images/icon.png") no-repeat -7px -62px; }
.selectd ul{position: absolute; left: -3px; top: 38px; z-index: 999; width: 65px;  background-color: #fff; border-bottom: 3px solid #366bb3; border-left: 3px solid #366bb3; border-right: 3px solid #366bb3;}
.selectd ul li{width: 65px; font-size: 13px; cursor: pointer;}
.selectd ul li:hover{background-color: #366bb3; color: #fff;}
.selectd  i{font-size: 14px; font-weight: normal;}

/*mid1*/
.mid1{width: 1210px; height: 530px; margin: 0 auto;}
.mid1 .nav2{width:215px; height: 530px; background-color: #3f7ac9;}
.mid1 .nav2 .navtop{width: 215px; height: 40px; line-height: 40px; background-color: #366bb3; text-align: center; font-size: 16px; color: #fff;}
.mid1 .navList{width: 215px; height: auto;}
.mid1 .navList ul li{position: relative; width: 180px; height: 48px; padding: 0 20px 0 15px; cursor: pointer;}
.mid1 .navList ul li h2{width: 180px; height: 48px; font-size: 14px; color: #fff; line-height: 48px; font-weight: normal; background: url("../images/jtarr.png") no-repeat right center;}
.mid1 .navList ul li:hover{background-color: #fff; color: #366bb3;}
.mid1 .navList ul li:hover h2{color: #366bb3; background: none;}
.mid1 .navList ul li .hideArea{position: absolute; width: 645px; min-height:80px; left: 215px;  z-index: 9999; padding: 5px 20px; height:auto!important; height:90px; background-color: #fff; border-bottom: 1px solid #3f7ac9; border-top: 1px solid #3f7ac9; border-right: 1px solid #3f7ac9;}
.mid1 .navList ul li .hideArea a{display: inline-block; *display:inline; *zoom:1; font-size: 12px; color: #366bb3; margin:5px 10px;}
.mid1 .navList ul li .hideArea a:hover{text-decoration: underline;}
.mid1 .mid1Rig{width: 987px; height: 530px;}
.mid1 .mid1Rig .ggArea{width: 987px; height: 530px;}
.mid1 .mid1Rig .mid1Nav{width: 987px; height: 40px; line-height: 40px; font-size:16px; color: #d7d7d7; }
.mid1 .mid1Rig .mid1Nav a{color: #535353; margin: 0 5px;}
.mid1 .mid1Rig .mid1Nav a:hover{color:#366bb3;}
.mid1 .mid1Rig .mid1Nav span{margin: 0 20px;}
.mid1 .mid1Rig .mid1Area{width: 987px; height: 490px;}
.mid1 .mid1Rig .mid1Area .ggArea{width: 730px; height: auto;}
.mid1 .mid1Rig .mid1Area .ggArea .div1{width: 730px; height: 336px; overflow: hidden;}
.mid1 .mid1Rig .mid1Area .ggArea .picshow{position: relative; width: 492px; height: 336px; overflow: hidden;}
.mid1 .mid1Rig .mid1Area .ggArea .ggpic1{width: 234px; height: 336px;}
.mid1 .mid1Rig .mid1Area .ggArea .ggpic1 a{display: block; width: 234px; height: 167px;}
.mid1 .mid1Rig .mid1Area .ggArea .ggpic1 a img{width: 234px; height: 167px;}
.mid1 .mid1Rig .mid1Area .ggpic1 img:hover{filter:alpha(opacity=90); -moz-opacity:0.9; -khtml-opacity:0.9; opacity: 0.9; }
.martop2{margin-top: 2px;}
.mid1 .mid1Rig .mid1Area .ggArea .ggArea2{width: 234px; height: 150px; margin-top: 4px;}
.mid1 .mid1Rig .mid1Area .ggArea .div2{width: 730px; height: 150px; overflow: hidden; margin-top: 4px;}
.mid1 .mid1Rig .mid1Area .ggArea .div2 a{display: block; width: 240px; height: 150px;}
.mid1 .mid1Rig .mid1Area .ggArea .div2 img:hover{filter:alpha(opacity=90); -moz-opacity:0.9; -khtml-opacity:0.9; opacity: 0.9; }
.second2{margin-left: 5px;}
.picshow .prev,.picshow .next{position: absolute; top:50%; z-index: 999; display: block; width: 17px; height: 30px; margin-top: -15px; background: url("../images/icon.png") no-repeat; filter:alpha(opacity=60); -moz-opacity:0.6; -khtml-opacity:0.6; opacity: 0.6;}
.picshow .prev{left: 12px; background-position: -27px 1px;}
.picshow .next{right: 12px; background-position: -5px 1px;}
.picshow .prev:hover,.picshow .next:hover{filter:alpha(opacity=100); -moz-opacity:1; -khtml-opacity:1; opacity: 1;}
.picshow .hd{position: absolute; left: 0; bottom: 15px; z-index: 999; width:100%; height: 10px; text-align: center;}
.picshow .hd ul li{display: inline-block; *display:inline; *zoom:1; width: 10px; height: 10px; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; background-color: #fff; margin: 0 3px; filter:alpha(opacity=40); -moz-opacity:0.4; -khtml-opacity:0.4; opacity: 0.4; cursor: pointer;}
.picshow .hd ul .on{filter:alpha(opacity=80); -moz-opacity:0.8; -khtml-opacity:0.8; opacity: 0.8;}

.mid1 .mid1Rig .ggArea2{width: 250px; height: 490px;}
.mid1 .mid1Rig .ggArea2 .login{width: 228px; height: 178px; padding: 10px; background-color: #fff; border: 1px solid #ddd;}
.mid1 .mid1Rig .ggArea2 .login .userImg{width: 100%; height: 70px; text-align: center; margin-top: 10px;}
.mid1 .mid1Rig .ggArea2 .login .userImg img{width: 72px; height: 70px; margin: 0 auto;}
.mid1 .mid1Rig .ggArea2 .login .userMes{width: 228px; height: 40px; text-align: center; font-size: 13px; color: #535353; line-height: 24px;}
.mid1 .mid1Rig .ggArea2 .login .loginBtn{text-align: center; width: 100%; height: 28px; text-align: center;}
.mid1 .mid1Rig .ggArea2 .login .loginBtn input{width: 65px; height: 28px; line-height: 28px; text-align: center; margin: 0 5px; background-color: #366bb3; font-size: 14px; color: #fff; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; cursor: pointer;}
.mid1 .mid1Rig .ggArea2 .login .loginBtn input:hover{filter:alpha(opacity=80); -moz-opacity:0.8; -khtml-opacity:0.8; opacity: 0.8;}
.loginSue{width: 235px; height: 35px; margin-left: 10px; margin-left: -1px;}
.loginSue ul li{float: left; width: 55px; height: 35px; text-align: center; margin: 0 1px;}
.loginSue ul li span{display: block; line-height: 24px; font-size: 12px; color: #366bb3; font-weight: bold;}
.loginSue ul li p{font-size: 12px; line-height: 24px; color: #313131;}
.mid1 .mid1Rig .ggArea2 .newsgg{width: 248px; height: 278px;  border: 1px solid #ddd; margin-top: 10px;}
.mid1 .mid1Rig .ggArea2 .newsgg .newsTitle{width: 228px; height: 30px; line-height: 30px; padding: 0 10px; border-bottom: 1px solid #dddddd;}
.mid1 .mid1Rig .ggArea2 .newsgg .newsTitle h2{font-size: 15px; color: #535353; }
.mid1 .mid1Rig .ggArea2 .newsgg .newsTitle a{display: block; width: 35px; height: 30px; font-size: 13px; color: #707070; background: url("../images/arr2.png") no-repeat right center;}
.mid1 .mid1Rig .ggArea2 .newsgg .newsTitle a:hover{color: #366bb3;}
.mid1 .mid1Rig .ggArea2 .newsList{width: 248px; height: auto; padding: 10px 0;}
.mid1 .mid1Rig .ggArea2 .newsList ul li{width: 245px; height: 32px; line-height: 32px; margin-left: 3px; overflow: hidden; font-size: 14px; color: #7d7d7d;}
.ggArea2 .newsList ul li a{color: #7d7d7d;}
.ggArea2 .newsList ul li a:hover{color: #366bb3;}

/*mid2开始*/
.mid2{width: 1210px; height: 75px; padding: 10px 0; background-color: #f1f1f1; margin: 10px auto; overflow: hidden;}
.mid2 ul li{float: left; width: 120px; height: 75px; text-align: center;}
.mid2 ul li .lia{display: block; width: 50px; height: 50px; margin: 0 auto; background: url("../images/icon.png") no-repeat;}
.mid2 ul li .icon1{background-position: -60px 5px;}
.mid2 ul li .icon2{background-position: -60px -48px;}
.mid2 ul li .icon3{background-position: -64px -102px;}
.mid2 ul li .icon4{background-position: -64px -154px;}
.mid2 ul li .icon5{background-position: -64px -209px;}
.mid2 ul li .icon6{background-position: -123px 5px;}
.mid2 ul li .icon7{background-position: -123px -48px;}
.mid2 ul li .icon8{background-position: -123px -102px;}
.mid2 ul li .icon9{background-position: -123px -154px;}
.mid2 ul li .icon10{background-position: -123px -207px;}
.mid2 ul li a{color: #535353;}
.mid2 ul li a:hover{color: #366bb3;}
.mid2 ul li .ih1{ line-height: 28px; font-size: 13px;}

/*mid3*/
.mid3{width: 1210px; height: auto; margin: 18px auto 0 auto;}
.mid3 .mtitle{width: 1210px; height: 35px; border-bottom: 1px solid #366bb3;}
.mid3 .mtitle .mH2{width: 120px; height: 35px; line-height: 35px;}
.mid3 .mtitle .mH2 em{display: block; width: 8px; height: 18px; background-color: #3f7ac9; margin-top: 8px;}
.mid3 .mtitle .mH2 h2{font-size: 18px; color: #434343; font-weight: normal; padding-left: 5px;}
.mid3 .mtitle .mList{width: 600px; height: 35px; line-height: 35px; text-align: right;}
.mid3 .mtitle .mList a{display: inline-block; *display:inline; *zoom:1; padding: 0 15px; font-size: 14px; color: #434343; }
.mid3 .mtitle .mList a:hover{color: #366bb3;}
.mid3 .mtitle .mList .on{position: relative; top: 1px; z-index: 99; padding: 0 13px; border-left: 1px solid #366bb3; height: 32px; line-height: 32px; font-weight: bold; border-right:1px solid #366bb3; border-top:3px solid #366bb3; background-color: #fff; color: #366bb3;}
.mid3 .mid3Area{width: 1210px; height: auto; padding: 20px 0;}
.mid3 .mid3Area .mid3Tab{width: 1210px; height: auto;}
.mid3 .mid3Area .mid3Tab .notice{width: 1210px; height: auto;}
.mid3 .mid3Area .notice .noticePic{position: relative; width: 470px; height: 320px; overflow: hidden;}
.mid3 .mid3Area .notice .noticePic .noticeList ul li{position: relative; width: 470px; height: 320px;}
.mid3 .mid3Area .notice .noticePic .noticeList ul li img{width: 470px; height: 320px;}
.mid3 .mid3Area .notice .noticePic .prev,.mid3 .mid3Area .notice .noticePic .next{position: absolute; top: 50%; z-index: 999; display: block; width: 28px; height: 62px; margin-top: -31px; background-color: rgba(0,0,0,0.5); filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7F000000,endcolorstr=#7F000000);  }
.mid3 .mid3Area .notice .noticePic .prev em,.mid3 .mid3Area .notice .noticePic .next em{position: relative; top: 15px; display: block; width: 17px; height: 30px; filter:alpha(opacity=60); -moz-opacity:0.6; -khtml-opacity:0.6; opacity: 0.6;}
.mid3 .mid3Area .notice .noticePic .prev em{background: url("../images/icon.png") no-repeat -27px 1px; left: 4px; }
.mid3 .mid3Area .notice .noticePic .next em{background: url("../images/icon.png") no-repeat -5px 1px; left: 8px; }
.mid3 .mid3Area .notice .noticePic .prev{left: 0;}
.mid3 .mid3Area .notice .noticePic .next{right: 0;}
.mid3 .mid3Area .notice .noticePic .prev:hover em,.mid3 .mid3Area .notice .noticePic .next:hover em{filter:alpha(opacity=100); -moz-opacity:1; -khtml-opacity:1; opacity: 1;}
.mid3 .mid3Area .notice .noticePic .noticeList ul li .txt{position: absolute; left: 0; bottom: 0; z-index: 999; width: 450px; height: 40px; line-height: 40px; font-size: 14px; color: #fff; padding: 0 10px; background-color: rgba(0,0,0,0.5); filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7F000000,endcolorstr=#7F000000);}
.mid3 .mid3Area .notice .noticeTxt{width: 695px; height: 320px; overflow: hidden;}
.mid3 .mid3Area .notice .noticeTxt .title{width: 695px; height: 30px; line-height: 30px;}
.mid3 .mid3Area .notice .noticeTxt .title h2{width: 500px; height: 30px; line-height: 30px; font-size: 16px; color: #535353;}
.mid3 .mid3Area .notice .noticeTxt .title .more{font-size: 13px; color: #707070;}
.mid3 .mid3Area .notice .noticeTxt .title .more:hover{color: #366bb3;}
.mid3 .mid3Area .notice .noticeTxt .nList{width: 695px; height: auto;}
.mid3 .mid3Area .notice .nList ul li{position: relative; width: 665px; height: 78px; padding:8px 0 8px 30px; border-bottom: 1px solid #dadada;}
.mid3 .mid3Area .notice .nList ul li em{position: absolute; left: 0; top: 16px; display: block; width: 20px; height: 20px; background-color: #535353; color: #fff; text-align: center; line-height: 20px;}
.mid3 .mid3Area .notice .nList ul li .ph2{height: 30px; line-height: 30px;}
.mid3 .mid3Area .notice .nList ul li .ph2 a{font-size: 14px; color: #535353;}
.mid3 .mid3Area .notice .nList ul li .ph2 a:hover{color: #366bb3;}
.mid3 .mid3Area .notice .nList ul li .ph2 span{font-size: 13px; color: #535353;}
.mid3 .mid3Area .notice .nList ul li .ptext{font-size: 14px; color: #959595; line-height: 24px;}

/*人才培训*/
.rcList{width: 1190px; height: 450px; padding: 0 10px;}
.rcList ul li{position: relative; float: left; width: 192px; height: 225px; overflow: hidden; margin: 3px;}
.rcList ul li img{width: 192px; height: 225px;}
.rcList ul li img:hover{filter:alpha(opacity=80); -moz-opacity:.8; -khtml-opacity:.8; opacity: .8;}
.rcList ul li span{position: absolute; left: 0; bottom: 0; z-index: 999; width: 192px; height: 34px; line-height: 34px; font-size: 15px; text-align: center; color: #fff; background-color: rgba(0,0,0,0.5); filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7F000000,endcolorstr=#7F000000);}
.ywList{width: 1190px; height: 280px; padding: 15px 10px; overflow: hidden;}
.ywList ul{width: 1290px;}
.ywList ul li{float: left; width: 562px; height: 120px; margin-right: 70px; margin-bottom: 30px;}
.ywList ul li .ywPic{width: 220px; height: 120px;}
.ywList ul li .ywPic img{width: 220px; height: 120px;}
.ywList ul li .ywPic:hover{filter:alpha(opacity=80); -moz-opacity:0.8; -khtml-opacity:0.8; opacity: 0.8;}
.ywList ul li .ywArea{width: 330px; height: 120px;}
.ywList ul li .ywArea .ywTit{display: block; width: 330px; height: 21px; line-height: 21px; padding-bottom: 5px; font-size: 14px; color: #535353; border-bottom: 1px solid #dadada;}
.ywList ul li .ywArea .ywTit:hover{color: #366bb3;}
.ywList ul li .ywArea .ywinfo{font-size: 12px; line-height: 18px; color: #898989; margin: 10px 0;}
.ywList ul li .ywArea .time{width:330px; text-align: right; font-size: 12px; color: #898989; line-height: 24px;}

.mid4{width: 1210px; height: auto; margin: 0 auto;}
.mid4 .mtitle{width: 1210px; height: 35px; border-bottom: 1px solid #366bb3;}
.mid4 .mtitle .mH2{width: 120px; height: 35px; line-height: 35px;}
.mid4 .mtitle .mH2 em{display: block; width: 8px; height: 18px; background-color: #3f7ac9; margin-top: 8px;}
.mid4 .mtitle .mH2 h2{font-size: 18px; color: #434343; font-weight: normal; padding-left: 5px;}
.mid4 .mtitle .mList{width: 450px; height: 35px; line-height: 35px; text-align: left;}
.mid4 .mtitle .mList a{display: inline-block; *display:inline; *zoom:1; padding: 0 15px; font-size: 14px; color: #434343; }
.mid4 .mtitle .mList a:hover{color: #366bb3;}
.mid4 .mtitle .mList .on{position: relative; top: 1px; z-index: 99; padding: 0 13px; border-left: 1px solid #366bb3; height: 32px; line-height: 32px; font-weight: bold; border-right:1px solid #366bb3; border-top:3px solid #366bb3; background-color: #fff; color: #366bb3;}

.mid4 .tjList{width: 1190px; height: auto; padding: 15px 0; overflow: hidden;}
.mid4 .tjList ul{width: 1240px;}
.mid4 .tjList ul li{float: left; width: 262px; height: 85px; margin: 5px 30px 10px 10px;}
.mid4 .tjList ul li .tjimg{width: 85px; height: 85px;}
.mid4 .tjList ul li .tjRight{width: 168px; height: 85px;}
.mid4 .tjList ul li .tjRight .price{font-size: 16px; line-height: 30px; color: #ff4900; font-weight: bold;}
.mid4 .tjList ul li .tjRight .tjTxt{font-size: 12px; color: #1b1b1b; line-height: 16px; margin-bottom: 5px; text-decoration: none; display: block;}
.mid4 .tjList ul li .tjRight a{font-size: 12px; line-height: 18px; color: #626262; text-decoration: underline; }
.mid4 .tjList ul li .tjRight a:hover{color: #366bb3;}
.mid4 .tjList ul li .tjimg:hover img{filter:alpha(opacity=80); -moz-opacity:.8; -khtml-opacity:.8; opacity: .8;}

.mid5{width: 1208px; height: 328px; margin: 10px auto; border:1px solid #dddddd;}
.mid5 .mid5left{position: relative; width: 200px; height: 328px; background-color: #eeeeee; text-align: center;}
.mid5 .mid5left img{width: 182px; height: 160px; margin: 30px auto 5px auto;}
.mid5 .mid5left h2{width: 162px; padding: 0 10px; margin: 0 auto; font-size: 22px; color: #535353;}
.mid5 .mid5left p{position: absolute; left: 15px; bottom: 25px; z-index: 999; font-size: 13px; color: #7d7d7d;}
.mid5 .mid5left p a{font-size: 13px; color: #7d7d7d;}
.mid5 .mid5left p a:hover{color: #366bb3;}
.mid5 .mid5left2{width: 736px; height: 328px; padding: 0 20px; overflow: hidden;}
.mid5 .mid5left2 ul li{float: left; width: 330px; height: 140px; padding: 15px 25px 10px 10px; border-bottom: 1px solid #dddddd;}
.mid5 .mid5left2 ul li .mid5Tit{width: 320px; height: 30px; line-height: 30px;}
.mid5 .mid5left2 ul li .mid5Tit h2{font-size: 16px; color: #535353; font-weight: normal;}
.mid5 .mid5left2 ul li .mid5Tit a{font-size: 12px; color: #535353;}
.mid5 .mid5left2 ul li .mid5A{width: 330px; height: 100px; overflow: hidden; line-height: 24px; padding-top: 5px;}
.mid5 .mid5left2 ul li .mid5A a{display: inline-block; *display:inline; *zoom:1; margin: 0 10px 0 0; font-size: 12px; color: #366bb3;}
.mid5 .mid5left2 ul li .mid5A a:hover{text-decoration: underline;}

.mid5 .mid5right{width: 230px; height: 328px; border-left: 1px solid #dddddd;}
.mid5 .mid5right h2{width: 210px; height: 35px; padding: 0 10px; line-height: 35px; font-size: 14px; color: #434343;}
.mid5 .mid5right ul{width: 210px; padding: 0 10px;}
.mid5 .mid5right ul li{width: 210px; height: 52px; margin: 5px 0; overflow: hidden;}
.mid5 .mid5right ul li a{display: block; height: 52px; font-size: 14px; color: #434343;}
.mid5 .mid5right ul li a:hover{color: #366bb3;}
.mid5 .mid5right ul li .mImg,.mid5 .mid5right ul li .mImg img{width: 52px; height: 52px;}
.mid5 .mid5right ul li .mTxt{width: 150px; height: 52px; line-height: 18px;}
.mid5 .mid5right ul li a:hover img{filter:alpha(opacity=80); -moz-opacity:0.8; -khtml-opacity:0.8; opacity: 0.8;}

.mid5 .mid6left2{width: 736px; height: 328px; padding: 0 20px; overflow: hidden;}
.mid5 .mid6left2 ul li{float: left; width: 230px; height: 140px; padding: 15px 10px 10px 5px; border-bottom: 1px solid #dddddd;}
.mid5 .mid6left2 ul li .mid5Tit{width: 220px; height: 30px; line-height: 30px;}
.mid5 .mid6left2 ul li .mid5Tit h2{font-size: 16px; color: #535353; font-weight: normal;}
.mid5 .mid6left2 ul li .mid5Tit a{font-size: 12px; color: #535353;}
.mid5 .mid6left2 ul li .mid5A{width: 230px; height: 100px; overflow: hidden; line-height: 24px; padding-top: 5px;}
.mid5 .mid6left2 ul li .mid5A a{display: inline-block; *display:inline; *zoom:1; margin: 0 10px 0 0; font-size: 12px; color: #366bb3;}
.mid5 .mid6left2 ul li .mid5A a:hover{text-decoration: underline;}

/*mid6*/
.mid6{width: 1210px; height: auto; margin: 15px auto;}
.mid6 .mtitle{width: 1210px; height: 35px; border-bottom: 1px solid #366bb3;}
.mid6 .mtitle .mH2{width: 400px; height: 35px; line-height: 35px;}
.mid6 .mtitle .mH2 em{display: block; width: 8px; height: 18px; background-color: #3f7ac9; margin-top: 8px;}
.mid6 .mtitle .mH2 h2{font-size: 18px; color: #434343; font-weight: normal; padding-left: 5px;}
.mid6List{width: 1210px; height: 360px; overflow: hidden;}
.mid6List ul{width: 1250px; margin-left: -10px;}
.mid6List ul li{float: left; width: 200px; height: 320px; margin: 20px 22px; background-color: #fff; border: 1px solid #fff;}
.mid6List ul li:hover{border:1px solid #dadada; filter: progid:DXImageTransform.Microsoft.Shadow(color='#969696', Direction=145, Strength=5); -moz-box-shadow:0px 0px 10px #969696; -webkit-box-shadow:0px 0px 10px #969696; box-shadow:0px 0px 10px #969696; }
.mid6List .mid6Img{display: block; width: 200px; height: 200px;}
.mid6List .mid6Img:hover{filter:alpha(opacity=90); -moz-opacity:0.9; -khtml-opacity:0.9; opacity: 0.9; }
.mid6List .mid6Img img{width: 200px; height: 200px;}
.mid6List .mid6A{width: 190px; height: 88px; padding: 0 5px;}
.mid6List .mid6Tit{width: 190px; height: 30px; padding: 0 5px; line-height: 30px; font-size: 14px; color: #535353;}
.mid6List .mid6Tit:hover{color: #366bb3;}
.mid6List .plstar{width: 190px; height: 13px;padding: 0 5px; margin: 2px 0;}
.mid6List .plstar2{width: 190px; line-height: 21px; font-size: 12px; color: #898989;padding: 0 5px;}
.mid6List .mid6Btn{display: block; width: 200px; height: 32px; line-height: 32px; background-color: #366bb3; font-size: 15px; color: #fff; text-align: center;}
.mid6List .mid6Btn:hover{background-color: #ff4900;}

/*mid7*/
.mid7{width: 1210px; height: auto; margin: 20px auto;}
.mid7 .mid7Tit{width: 1210px; height: 30px; line-height: 30px; text-align: center; font-size: 18px; color: #535353;}
.mid7 .flinkList{margin-top: 20px; width: 1210px; height: 160px; border: 1px solid #dddddd; overflow: hidden;}
.mid7 .flinkList ul{width: 1220px; height: 160px;}
.mid7 .flinkList ul li{float: left; width: 201px; height: 155px; border-right: 1px solid #dddddd; text-align: center; padding-top: 5px;}
.mid7 .flinkList ul li img{width: 195px; height: 150px;}

/*mid8*/
.mid8{width: 100%; height: auto; margin: 30px auto 20px auto;}
.mid8 .mid8Tit{position: relative; width: 100%; height: 30px; border-bottom: 1px solid #dddddd;}
.mid8 .mid8Tit span{position: absolute; left:50%; top: 20px; display: block; width: 80px; margin-left: -40px; height: 20px; line-height: 20px; background-color: #fff; text-align: center; font-size: 14px; color: #a0a0a0;}
.mid8 .mid8Area{width: 1210px; height: auto; margin: 20px auto;}
.mid8 .mid8Area .mid8Left{width: 1048px; height: auto;}
.mid8 .mid8Area .mid8Left dl{float: left; width: 255px; height: auto; margin-top: 20px;}
.mid8 .mid8Area .mid8Left dl dt{font-size: 16px; color: #535353; height: 35px; line-height: 35px;}
.mid8 .mid8Area .mid8Left dl dd{font-size: 12px; color: #7d7d7d; padding-left: 8px; height: 24px; line-height: 24px;}
.mid8 .mid8Area .mid8Left dl dd a{color: #7d7d7d;}
.mid8 .mid8Area .mid8Left dl dd a:hover{ color: #366bb3;}

.mid8 .mid8Area .mid8Right{width: 155px; height: 155px; padding-top: 10px;}
.mid8 .mid8Area .mid8Right img{display: block; width: 112px; height: 115px; padding: 3px; background-color: #f6f6f6; margin: 0 auto;}
.mid8 .mid8Area .mid8Right p{font-size: 14px; color: #626262; line-height: 24px; text-align: center;}



/*footer*/
.footer{width: 100%; height: auto; background-color: #071425; margin-top: 15px; padding-bottom: 30px;}
.footer .footerMenu{width: 1210px; height: 30px; line-height: 30px; text-align: center; padding: 10px 0; margin: 0 auto; font-size: 12px; color: #fff;}
.footer .footerMenu a{color: #fff; margin: 0 8px;}
.footer .footerMenu a:hover{text-decoration: underline;}
.footer .aandc{width: 1210px; height: auto; margin: 0 auto; text-align: center; font-size: 12px; padding-top: 10px; color: #707070; line-height: 30px;}














