/*内容部分*/
.content{width: 1210px;margin: 0 auto;}
/*左内容区域*/
.left_content{width:140px;float: left;}
.type_list{width: inherit;line-height: 30px;padding-top: 10px;}
.type_list h4{font-size: 16px;}
.type_list li{padding-left: 32px;}
.type_list li a{font-size: 14px;color:#7d7d7d;}
.type-icon {height: 20px;width: 20px;float: left;margin-top: 5px;}
.star-icon{background-position: 0px -650px;}
.order-icon{background-position: -35px -650px;}
.personnel-icon{background-position: -70px -650px;}
.customer-icon{background-position: -100px -650px;}
/*右边内容区域*/
.right_content{float: left;width: 1070px;margin-bottom: 150px;}
.member_infos{width: inherit;height: 120px;background: #f6f6f6;padding: 15px 0;}
.info{width: 340px;height:120px;float: left;}
.info_img{width: 100px;height:100px;margin:10px 20px;background: #dcdcdc;border-radius: 50px;float: left;}
.info_con{float: left;width: 180px;height: inherit;line-height: 30px;}
.info_con h4{color:#484848;font-size: 18px;}
.grey{font-size: 14px;color:#fff;background: #b5b5b5;padding: 2px 4px;}
.account{color:#7d7d7d;font-size: 14px;margin-top: 10px;}
.account label{float: left;}
.ash{width: 50px;background: #c2c2c2;height: 20px;float: left;margin: 5px 8px;}
.orange{height: inherit;width: 38px;background: #ff4900;}
.lightblue{color:#4a76b7;font-size: 14px;float: left;}
.level{color:#7d7d7d;font-size: 14px;}
.level img {display: inline-block;padding: 0 1px;}
.order_status{float: left;width: 730px;height: inherit;}
.status{float: left;width:90px;margin: 30px 5px;}
.status-icon{width: 38px;height: 38px;margin:0 auto;}
.status_01{background-position: -140px -650px;}
.status_02{background-position: -200px -650px;}
.status_03{background-position: -250px -650px;}
.status_04{background-position: -300px -650px;}
.status p{font-size: 13px;text-align: center;line-height: 30px;color:#878787;}
.number{font-size: 13px;color:#4a76b7;font-weight: bold;padding-left: 3px;}
/*订阅咨询*/
.consult_content{width: 100%;border:1px solid #ddd;margin-top: 10px;}
.consult_navbar{height: 35px;border-bottom: 1px solid #ddd;line-height: 35px;z-index: 1;}
.consult_navbar h4{font-size: 14px;color:#5b5b5b;padding-left: 10px;width: 80px;float: left;margin-right: 20px;}
.more{float: right;text-align: center;color:#7d7d7d;font-size: 12px;}
.more s{margin: 11px 15px 11px 5px;}
.consult_navbar ul{padding-top: 7px;line-height: 25px;float: left;}
.consult_navbar li{width: 65px;float: left;text-align: center;}
.consult_navbar li a{font-size: 12px;color:#7d7d7d;}
.active{border:1px solid #ddd;border-bottom: 1px solid #fff;z-index: 10;}
.active a{color:#313131 !important;}
.consult_list{width: 100%;line-height: 30px;height: 250px;}
.consult_list li{width: 50%;float: left;}
.list_con{font-size: 14px;}
.list_con p{float: left;padding-left: 10px;color:#535353;}
.list_con span{float: right;padding-right: 20px;color:#7d7d7d;}
/*订阅视频*/
.video{width: 520px;border:1px solid #ddd;margin-top: 10px;float: left;height: 280px;}
.video_top{height: 35px;border-bottom: 1px solid #ddd;line-height: 35px;z-index: 1;}
.video_top h4{font-size: 14px;color:#5b5b5b;padding-left: 10px;width: 80px;float: left;margin-right: 20px;}
.video_item{width: 25%;margin:40px 0;float: left;text-align: center;}
.video_item img{width: 90%;margin:0 5%;}
.video_item span{font-size: 12px;color:#7d7d7d;}
/*收藏宝贝*/
.collection{width: 520px;border:1px solid #ddd;margin-top: 10px;float: right;height: 280px;}
.collection_top{height: 35px;border-bottom: 1px solid #ddd;line-height: 35px;z-index: 1;}
.collection_top h4{font-size: 14px;color:#5b5b5b;padding-left: 10px;width: 80px;float: left;margin-right: 20px;}
.collection_item{width: 25%;margin:40px 0;float: left;}
.collection_item img{width: 90%;margin:0 5%;}
.collection_item span{font-size: 12px;color:#7d7d7d;margin:0 5%;display: block;}
