/*店铺中心*/
.store_title{padding-top: 10px;}
.store_title h3{height: 40px;line-height: 40px;background: #eee;font-size: 18px;padding-left: 20px;}
.store_title p{letter-spacing:2px;border:1px dashed #e0e0e0;margin: 20px auto;background: #fafafa;font-size: 12px;line-height: 30px;}
.tips-icon{ height: 18px;width: 18px;float:left;margin-left:20px;margin-top:5px;background-position: -25px -540px;}
.view a{color:#3a75c5;}
/*免费开店*/
.free_store{margin-top: 20px;border:1px solid #e0e0e0;height: 500px;}
.free_store h2{height: 40px;font-size: 24px;line-height: 40px;color:#666;padding-left: 20px;}
.congratulations-icon{ height: 16px;width: 16px;float:left;margin-left:20px;margin-top:5px;background-position: -50px -540px;}
.free_store p{margin: 20px auto;font-size: 14px;line-height: 30px;color:#669900;}
.form_store{margin:20px 150px;}
.form_store2{display: none;}
.set_store{display: none;}
.form_store h4{color: #3a75c5;font-size: 24px;}
.location{padding-left: 50px;font-size: 14px;line-height: 50px;}
.store_table{width: 480px;margin-left: 130px;border-collapse: collapse;font-size: 14px;}
.border{border:1px solid #b1b1b1;height: 30px;line-height: 30px;}
.th01{padding-left: 15px;}
.store_table td{line-height: 30px;color:#717171;}
.td01{padding-left: 15px;}
.td03{color: #3a75c5 !important;}
.nostart-icon{height: 16px;width: 16px;float:left;margin-top:5px;background-position: -70px -540px;}
.sustart-icon{height: 16px;width: 16px;float:left;margin-top:5px;background-position: -50px -540px;}
.new_store{margin-left: 300px;padding: 10px 20px;background: #858585;color:#fff;border:0;border-radius: 5px;margin-top: 60px;}

/*店铺资料*/
.st_data{
	height: 130px;
	float: left;
	margin-left: 100px;
	margin-top: 35px;
	width: 970px;
}
.updata{
	position: relative;
    float: left;
    padding: 0;
    width: 115px;
    height: 24px;
    font-size: 12px;
    text-align: center;
    line-height: 24px;
    margin-left: 20px;
    border:1px dashed #b2b2b2; 
}
#preview{float: left;width: 460px;}
#preview >img{float: left;}
#file1{
	    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    border: none;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
}
.data_list{
	float: left;
	width: 355px;
	margin-left: 100px;
	font-size: 12px;
	margin-top: 55px;
}
.form_list{
	float: left;
	width: 100%;
	height: 30px;
	line-height: 30px;
	margin-bottom: 10px;
}
.form_list p{
	font-size: 12px;
	color: #666666;
	float: left;
}
.form_p1{
    width: 60px;
    text-align: right;
}
.form_p2{
	width: 280px;
	margin-left: 10px;
}


/*发布宝贝界面*/
.rel{
	width: 590px;
	height: 810px;
	float: left;
	margin-left: 225px;
	margin-top: 55px;
}
.rel_list{
	width: 535px;
	float: left;
	margin-left: 55px;
	margin-top: 35px;
}
.rel_in{
	float: left;
	width: 100%;
	margin-bottom: 30px;
}
.rel_in >p{
	float: left;
	width: 70px;
	height: 33px;
	line-height: 33px;
	text-align: right;
	font-size: 14px;
}
.rel_sel{
	 -webkit-appearance: none;
    -moz-appearance: none;
    appearance:none;
    background:none;
    background:url("../images/sel.jpg") right center no-repeat;
    width:150px;
    border:1px solid #3a75c5;
    margin: 0;
    text-indent:1em;
    font-size: 14px;
    height:30px;
    cursor:pointer
}
.rel_updata{
	    position: relative;
    float: left;
    padding: 0;
    width: 90px;
    height: 30px;
    font-size: 12px;
    color: #ffffff;
    background-color: #3a75c5;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
    margin-left:185px;
    margin-top: 20px;
}
.rel_ul{
	display: block;
	float: left;
	margin-left: 33px;
}
.rel_ul li{
	display: block;
	float: left;
	width: 88px;
	height: 88px;
	border: 1px dashed #b2b2b2;
	margin-right: 13px;
}
.rel_p{
	float: left;
	width: 250px;
	font-size: 12px;
	color: #606060;
	margin-left: 15px;
}
.rel_p p{
	float: left;
	margin-bottom: 20px;
}
.rel_p img{
/*	float: left;*/
margin-left: 3px;
}
.store_goods{
	float: left;
	margin-left: 100px;
	margin-top: 50px;
}
.store_goods_title{
	float: left;
	height: 35px;
	width: 970px;
	line-height: 35px;
	border-bottom: 5px solid #3a75c5;
}
.store_goods_title p{
	width: 245px;
	height: 35px;
	background-color: #3a75c5;
	color: #ffffff;
	text-align: center;
	letter-spacing:10px;
}
.table_title{
	float: left;
	margin-top: 5px;
	width: 100%;
	height: 45px;
	background-color: #f6f6f6;
}
.table_title p{
   float: left;
   height: 45px;
   line-height: 45px;
   text-align: center;
   font-size: 14px;
   color: #333333;
}
.store_search{
	float: right;
	width: 248px;
	height: 28px;
	border: 1px solid #b2b2b2;
	margin-top: 10px;
	margin-bottom: 15px;
}
.store_goods_inf{
	float: left;
	display: block;

}
.store_goods_inf >li{
	display: block;
	float: left;
	width: 968px;
	height: 135px;
	border: 1px solid #b2b2b2;
	margin-bottom: 25px;
}
.store_goods_mt{
	float: left;
	width: 100%;
	height: 35px;
}
.store_goods_mc1{
	float: left;
	width: 560px;
	height: 100px;
}
.store_goods_mc1 img{
	width: 100%;
	height: 100%;
}
.store_goods_mc2{
	float: left;
	width: 140px;
	height: 100px;
	border-left:1px solid #b2b2b2; 
}
.store_goods_mc3{
	float: left;
	width: 146px;
	height: 100px;
	border-left:1px solid #b2b2b2; 
}
.store_goods_mc3 a{
	display: block;
	width: 100%;
	text-align: center;
	font-size: 12px;
	color: #ff4900;
	height: 16px;
	float: left;

}
.store_goods_mc4{
	float: left;
	width: 116px;
	height: 100px;
	border-left:1px solid #b2b2b2; 
}
.store_goods_mc4 a{
	display: block;
	width: 100%;
	text-align: center;
	font-size: 12px;
	color: #366bb3;

}