/*yhq.css*/
.hide{display: none;}
.fr{float: right;}
.fl{float: left;}
.center_nav{height: auto;width: 1210px;margin: 0 auto;}
.content_left:hover .hide{display: block;position: absolute;width:215px;}
.hr{width:100%;height:2px;background:#366ab3;margin-top:38px;}
.nav_con .navitem a{color: #000;}
.nav_con .navitem a:hover{color:#366ab3;}
.nav_con .navitem.active a{color:#366ab3;}
.content_left ul li:hover{background: #fff;color:#366ab3;}
.content_left ul li{margin-top: 0;border-left: 1px solid #366ab3; }
.hide_hd{width: 400px;left: 214px;}
.content_left ul li:hover a{color:#366ab3;}
.zwgz_index{position: relative;}
.zwgz_list_more{display: inline-block;width: 85px;height: 80px;position: 

absolute;right: 0;top: 0;}
.article_share{margin: 0  0 300px 240px;}
.article_share img{padding-left:30px; }
.share_way:hover .way_show{display: none;}
.share_way:hover .hide{display: inline;}
.zfcg{height: 500px;}
.zw_info{width:213px;height:233px;float: left;border:1px solid #e6e6e6; }
.zw_info ul{list-style: none;}
.zw_info>ul>li{padding:12px 10px;border-top:1px solid 

#e6e6e6;color:#9a9a9a;position: relative;  }
.zw_info>ul>li:first-child{border-top:none;font-weight: bold;color: #000; 

}
.zw_info>ul>li:hover{color:#000;}
.zw_info>ul>li:hover .hide{display: inline-block;}
.zw_info>ul>li>ul{width:200px; position: absolute;left: 214px;top: 

0;background: #eee;}
.zw_info>ul>li>ul>li{padding:8px;color: #000;}
.zw_info>ul>li>ul>li:hover{background: #fff;}
.rck{height:45px;width:100%;background:#f3f3f3;line-height: 45px;color: 

#434343;margin-bottom:10px; }
.rck span{padding-left:20px; }
.rck select{margin-left:10px;height: 30px;padding: 0 5px;width: 

120px;font-size: 14px; }
.rck input{margin-left:10px;height: 23px;width: 120px; }
.pxkc_sort{height: 45px;line-height: 45px;border-bottom: 1px solid 

#e6e6e6;font-size: 14px;}
.pxkc_sort span{padding: 0 20px 0 30px;float: left;color: #626262;}
.pxkc_sort ul{list-style:none;height: 25px;line-height: 25px;padding: 

10px 0; }
.pxkc_sort ul li{display: inline-block;padding: 0 10px;margin-

left:5px;color:#1a68d4;}
.pxkc_sort_select{background: #1a68d4;color: #fff !important;}
.video_title{background: #222;height: 69px;width: 100%;}
.video_play{height: 780px;background: #474747;}
.main_ywzn{width:1220px;height:1000px;margin: 0 auto;padding: 20px 10px;background:#f4f4f4;}
