<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>个人中心</title>
	<link rel="stylesheet" type="text/css" href="/static/css/common.css">
	<link rel="stylesheet" type="text/css" href="/static/css/person.css">
</head>
<body>
	<!-- 顶部区域 -->
  {% include "./inc/header.html" %}
	<!-- 内容区域 -->
	<div class="container mainbody">
		<div class="content clearfix">
			<div class="left_content">
				<div class="type_list">
					<h4><s class="icons type-icon star-icon"></s>关注中心</h4>
					<ul>
						<li><a href="javascript:;">收藏的咨询</a></li>
						<li><a href="javascript:;">收藏的视频</a></li>
						<li><a href="javascript:;">收藏的宝贝</a></li>
						<li><a href="javascript:;">收藏的店铺</a></li>
					</ul>
				</div>
				<div class="type_list">
					<h4><s class="icons type-icon order-icon"></s>订单中心</h4>
					<ul>
						<li><a href="javascript:;">我的订单</a></li>
						<li><a href="javascript:;">我的评价</a></li>
						<li><a href="javascript:;">退款管理</a></li>
					</ul>
				</div>
				<div class="type_list">
					<h4><s class="icons  type-icon personnel-icon"></s>人才中心</h4>
					<ul>
						<li><a href="javascript:;">我的简历</a></li>
						<li><a href="javascript:;">投递记录</a></li>
					</ul>
				</div>
				<div class="type_list">
					<h4><s class="icons type-icon customer-icon"></s>客户中心</h4>
					<ul>
						<li><a href="javascript:;">交易申述</a></li>
						<li><a href="javascript:;">咨询回复</a></li>
					</ul>
				</div>
			</div>
			<div class="right_content">
				<!-- 会员信息 -->
				<div class="member_infos clearfix">
					<div class="info clearfix">
						<div class="info_img"></div>
						<div class="info_con">
							<h4 class="member_name">fq_158977gpw</h4>
							<span class="grey">企</span>
							<span class="grey">邮</span>
							<span class="grey">手</span>
							<span class="grey">银</span>
							<div class="account clearfix">
								<label>账户安全:</label>
								<div class="ash">
									<div class="orange"></div>
								</div>
								<span class="lightblue">较高</span>
							</div>
							<div class="level">
								<label>会员等级:
									<img src="/static/images/level.png">
									<img src="/static/images/level.png">
								</label>
							</div>
						</div>
					</div>
					<div class="order_status clearfix">
						<div class="status">
							<s class="icons status-icon status_01"></s>
							<p>待付金额<span class="number">1</span></p>
						</div>
						<div class="status">
							<s class="icons status-icon status_02"></s>
							<p>已付定金<span class="number">2</span></p>
						</div>
						<div class="status">
							<s class="icons status-icon status_03"></s>
							<p>待付全款<span class="number">2</span></p>
						</div>
						<div class="status">
							<s class="icons status-icon status_04"></s>
							<p>待评价<span class="number">0</span></p>
						</div>
					</div>
				</div>
				<!-- 订阅咨询 -->
				<div class="consult_content">
					<div class="consult_navbar clearfix">
						<h4>订阅的咨询</h4>
						<ul class="clearfix">
							<li class="active"><a href="javascript:;">政务工作</a></li>
							<li><a href="javascript:;">IPR要闻</a></li>
							<li><a href="javascript:;">平台活动</a></li>
							<li><a href="javascript:;">知产学堂</a></li>
						</ul>
						<a class="more" href="javascript:;">查看更多<s class="icons more-icon"></s></a>
					</div>
					<div class="consult_list">
						<ul class="clearfix">
							<li>
								<a href="javascript:;" class="list_con clearfix">
									<p>省政府刘仲初副秘书长调研知识产权工作</p>
									<span>2015-07-30</span>
								</a>
							</li>
							<li>
								<a href="javascript:;" class="list_con clearfix">
									<p>省政府刘仲初副秘书长调研知识产权工作</p>
									<span>2015-07-30</span>
								</a>
							</li>
							<li>
								<a href="javascript:;" class="list_con clearfix">
									<p>省政府刘仲初副秘书长调研知识产权工作</p>
									<span>2015-07-30</span>
								</a>
							</li>
							<li>
								<a href="javascript:;" class="list_con clearfix">
									<p>省政府刘仲初副秘书长调研知识产权工作</p>
									<span>2015-07-30</span>
								</a>
							</li>
							<li>
								<a href="javascript:;" class="list_con clearfix">
									<p>省政府刘仲初副秘书长调研知识产权工作</p>
									<span>2015-07-30</span>
								</a>
							</li>
							<li>
								<a href="javascript:;" class="list_con clearfix">
									<p>省政府刘仲初副秘书长调研知识产权工作</p>
									<span>2015-07-30</span>
								</a>
							</li>
							<li>
								<a href="javascript:;" class="list_con clearfix">
									<p>省政府刘仲初副秘书长调研知识产权工作</p>
									<span>2015-07-30</span>
								</a>
							</li>
							<li>
								<a href="javascript:;" class="list_con clearfix">
									<p>省政府刘仲初副秘书长调研知识产权工作</p>
									<span>2015-07-30</span>
								</a>
							</li>
							<li>
								<a href="javascript:;" class="list_con clearfix">
									<p>省政府刘仲初副秘书长调研知识产权工作</p>
									<span>2015-07-30</span>
								</a>
							</li>
							<li>
								<a href="javascript:;" class="list_con clearfix">
									<p>省政府刘仲初副秘书长调研知识产权工作</p>
									<span>2015-07-30</span>
								</a>
							</li>
							<li>
								<a href="javascript:;" class="list_con clearfix">
									<p>省政府刘仲初副秘书长调研知识产权工作</p>
									<span>2015-07-30</span>
								</a>
							</li>
							<li>
								<a href="javascript:;" class="list_con clearfix">
									<p>省政府刘仲初副秘书长调研知识产权工作</p>
									<span>2015-07-30</span>
								</a>
							</li>
							<li>
								<a href="javascript:;" class="list_con clearfix">
									<p>省政府刘仲初副秘书长调研知识产权工作</p>
									<span>2015-07-30</span>
								</a>
							</li>
							<li>
								<a href="javascript:;" class="list_con clearfix">
									<p>省政府刘仲初副秘书长调研知识产权工作</p>
									<span>2015-07-30</span>
								</a>
							</li>
							<li>
								<a href="javascript:;" class="list_con clearfix">
									<p>省政府刘仲初副秘书长调研知识产权工作</p>
									<span>2015-07-30</span>
								</a>
							</li>
							<li>
								<a href="javascript:;" class="list_con clearfix">
									<p>省政府刘仲初副秘书长调研知识产权工作</p>
									<span>2015-07-30</span>
								</a>
							</li>
						</ul>
					</div>
				</div>

				<!-- 订阅视频 -->
				<div class="video">
					<div class="video_top clearfix">
						<h4>订阅的视频</h4>
						<a class="more" href="javascript:;">查看更多<s class="icons more-icon"></s></a>
					</div>
					<div class="video-list clearfix">
						<div class="video_item">
							<img src="/static/images/video.png">
							<span>专利风险评估培训</span>
						</div>
						<div class="video_item">
							<img src="/static/images/video.png">
							<span>专利风险评估培训</span>
						</div>
						<div class="video_item">
							<img src="/static/images/video.png">
							<span>专利风险评估培训</span>
						</div>
						<div class="video_item">
							<img src="/static/images/video.png">
							<span>专利风险评估培训</span>
						</div>
					</div>
				</div>
				<!-- 收藏宝贝 -->
				<div class="collection">
					<div class="collection_top clearfix">
						<h4>收藏的宝贝</h4>
						<a class="more" href="javascript:;">查看更多<s class="icons more-icon"></s></a>
					</div>
					<div class="collection-list clearfix">
						<div class="collection_item">
							<img src="/static/images/collect.png">
							<span>APP开发一站式外包服务</span>
						</div>
						<div class="collection_item">
							<img src="/static/images/collect.png">
							<span>APP开发一站式外包服务</span>
						</div>
						<div class="collection_item">
							<img src="/static/images/collect.png">
							<span>APP开发一站式外包服务</span>
						</div>
						<div class="collection_item">
							<img src="/static/images/collect.png">
							<span>APP开发一站式外包服务</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 底部区域 -->
	{% include "./inc/footer.html" %}
</body>
</html>